<!-- <app-user-form></app-user-form>
<app-books name="Nam Nguyen" age="18"></app-books> -->
<!-- <app-parent2></app-parent2>
<app-card>
  <h3 class="card-header">Angular JS</h3>
  <p class="card-body">React JS</p>
</app-card>
<app-learn-pipe></app-learn-pipe> -->
<!-- <app-ip></app-ip>
<app-weather></app-weather> -->
<!-- <app-signin></app-signin> -->
<!-- <app-signup></app-signup> -->
<ul>
  <li><a href="/words">Word</a></li>
  <li><a href="/card">Card</a></li>
</ul>
<router-outlet></router-outlet>
